<div id="dropzone_<%= method %>_<%= cycle(*(1..999).to_a, name: method) %>" class="dropzone">
  <span class="notice"><%=t 'dropzone.drag_or_click' %></span>
  <%= hidden_field_tag "#{ object.class.model_name.singular }[#{ method }_attributes][-1]", "" %>
  <% object.send(method).each_with_index do |dropzone_object, index| %>
    <%= hidden_field_tag "#{ object.class.model_name.singular }[#{ method }_attributes][#{ dropzone_object.id }][#{ object.class.send("dropzone_#{ method }_field", :title) }]", dropzone_object.send(object.class.send("dropzone_#{ method }_field", :title)) %>
  <% end %>
</div>

<% unless options[:hint].blank? %>
  <p class="inline-hints dropzone-hint"><%= options[:hint] %></p>
<% end %>

<script>
  (function() {
    Dropzone.autoDiscover = false;

    var mockFiles = [<%= render_mock_dropzone_files(object.send(method)) %>];
    var dropzone_id = "#dropzone_<%= method %>_<%= current_cycle(method) %>"; 
    var dropzone = new Dropzone(dropzone_id, { 
      url: '<%= raw upload_dropzone_path(dropzonable_id: (object.new_record? ? nil : object.id), dropzonable_class: object.class, dropzone_class: object.class.send("dropzone_#{ method }_class")) %>',
      addRemoveLinks: true,
      dictCancelUpload: '<%=t "dropzone.cancel" %>',
      dictRemoveFile: '<%=t "dropzone.remove" %>',
      maxFiles: <%= defined?(max_files) ? '1' : 'null' %>,
      sending: function(file, xhr, formData) {
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').prop('content'));
      },
      success: function(file, data) {
        $(dropzone_id).append('<input type="hidden" name="<%= object.class.model_name.singular %>[<%= method %>_attributes][' + data.id + '][<%= object.class.send("dropzone_#{ method }_field", :title) %>]" value="' + data.title + '" />');
        $(file.previewElement).attr('data-id', data.id);
        $(file.previewElement).attr('data-url', data.url);
        $(file.previewElement).find('.dz-filename span').text(data.title);
        return file.previewElement.classList.add("dz-success");
      },
      removedfile: function(file) {
        $(dropzone_id + ' input[name="<%= object.class.model_name.singular %>[<%= method %>_attributes][' + file.id + '][<%= object.class.send("dropzone_#{ method }_field", :title) %>]"]').remove();
        $(dropzone_id + ' input[name="<%= object.class.model_name.singular %>[<%= method %>_attributes][' + file.id + '][<%= object.class.send("dropzone_#{ method }_field", :position) %>]"]').remove();
        $(file.previewElement).remove();
        $(dropzone_id).sortable('refresh');
      }
    });

    $(dropzone_id).sortable({
      items: '.dz-preview',
      placeholder: 'sortable-placeholder'
    });

    var func = function(file) {
      if (file.id)
        $(file.previewElement).attr('data-id', file.id);

      $(file.previewElement).find('.dz-filename, img').on('click', function() {
        var id = $(this).parents('.dz-preview:first').attr('data-id');
        var input = $(dropzone_id + ' input[name="<%= object.class.model_name.singular %>[<%= method %>_attributes][' + id + '][<%= object.class.send("dropzone_#{ method }_field", :title) %>]"]');
        var title = prompt("<%=t 'dropzone.title' %>: ", $(file.previewElement).find('.dz-filename span').text());
        $(file.previewElement).find('.dz-filename span').text(title);
        input.val(title);
      });
    };

    var generate_dropzone_position_elements = function() {
      var position = 0;
      $(dropzone_id + ' .dz-preview').each(function() {
        var id = $(this).attr('data-id');
        $(dropzone_id).append('<input type="hidden" name="<%= object.class.model_name.singular %>[<%= method %>_attributes][' + id + '][<%= object.class.send("dropzone_#{ method }_field", :position) %>]" value="' + (position++) + '" />');
      });
    };

    dropzone.on('addedfile', func);

    for (var i = 0; i < mockFiles.length; i++) {
      var mockFile = mockFiles[i];
      dropzone.options.addedfile.call(dropzone, mockFile);
      func(mockFile);
      if (mockFile.url)
        dropzone.options.thumbnail.call(dropzone, mockFile, mockFile.url);
        $(mockFile.previewElement).attr('data-url', mockFile.url);
    }

    $('form').submit(function(e) {
      if (dropzone.getQueuedFiles().length > 0 || dropzone.getUploadingFiles().length > 0) {
        if (confirm("<%=t 'dropzone.are_you_sure' %>") == true) {
          generate_dropzone_position_elements();
        } else {
          e.preventDefault();
        }
      } else {
        generate_dropzone_position_elements();
      }
    });

    window.<%= method %>_dropzone = dropzone;
  })();
</script>