<div id="dropzone_<%= method %>_<%= cycle(*(1..999).to_a, name: method) %>" class="dropzone" style="margin: 10px 20px; border: 1px solid #ccc">
  <span class="notice">Перетащите сюда файлы или нажмите для загрузки</span>
  <input type="hidden" name="<%= object.class.to_s.downcase %>[<%= method %>_attributes][-1]" value="" />
  <% object.send(method).each_with_index do |dropzone_object, index| %>
    <input type="hidden" name="<%= object.class.to_s.downcase %>[<%= method %>_attributes][<%= dropzone_object.id %>][<%= object.class.dropzone_title_field %>]" value="<%= dropzone_object.send(object.class.dropzone_title_field) %>" />
  <% end %>
</div>

<% unless options[:hint].blank? %>
  <p class="inline-hints" style="margin: 0 0 0 20px; font-size: 0.95em; font-style: italic; color: #666;"><%= options[:hint] %></p>
<% end %>

<script>
  (function() {
    var mockFiles = [<%= render_mock_dropzone_files(object.send(method)) %>];
    Dropzone.autoDiscover = false;
    var dropzone_id = "#dropzone_<%= method %>_<%= current_cycle(method) %>"; 
    var dropzone = new Dropzone(dropzone_id, { 
      url: '<%= upload_dropzone_path(dropzone_class: method.to_s.classify) %>',
      addRemoveLinks: true,
      dictCancelUpload: 'Отменить',
      dictRemoveFile: 'Удалить',
      maxFiles: <%= defined?(max_files) ? '1' : 'null' %>,
      sending: function(file, xhr, formData) {
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').prop('content'));
      },
      success: function(file, data) {
        $(dropzone_id).append('<input type="hidden" name="<%= object.class.to_s.downcase %>[<%= method %>_attributes][' + data.id + '][<%= object.class.dropzone_title_field %>]" value="" />');
        $(file.previewElement).attr('data-id', data.id);
        $(file.previewElement).attr('data-url', data.url);
        return file.previewElement.classList.add("dz-success");
      },
      removedfile: function(file) {
        $(dropzone_id + ' input[name="<%= object.class.to_s.downcase %>[images_attributes][' + file.id + '][<%= object.class.dropzone_title_field %>]"]').remove();
        $(dropzone_id + ' input[name="<%= object.class.to_s.downcase %>[images_attributes][' + file.id + '][<%= object.class.dropzone_position_field %>]"]').remove();
        $(file.previewElement).remove();
        $(dropzone_id).sortable('refresh');
      }
    });

    $(dropzone_id).sortable({
      items: '.dz-preview',
      placeholder: 'sortable-placeholder'
    });

    var func = function(file) {
      if (file.id)
        $(file.previewElement).attr('data-id', file.id);

      $(file.previewElement).find('.dz-filename, img').on('click', function() {
        console.log(dropzone_id + ' input[name="<%= object.class.to_s.downcase %>[<%= method %>_attributes][' + file.id + '][<%= object.class.dropzone_position_field %>]"]');
        var input = $(dropzone_id + ' input[name="<%= object.class.to_s.downcase %>[<%= method %>_attributes][' + file.id + '][<%= object.class.dropzone_position_field %>]"]');
        var title = prompt("Название изображения: ", $(file.previewElement).find('.dz-filename span').text());
        $(file.previewElement).find('.dz-filename span').text(title);
        input.val(title);
      });
    };

    var generate_dropzone_position_elements = function() {
      var position = 0;
      $(dropzone_id + ' .dz-preview').each(function() {
        var id = $(this).attr('data-id');
        $(dropzone_id).append('<input type="hidden" name="<%= object.class.to_s.downcase %>[<%= method %>_attributes][' + id + '][<%= object.class.dropzone_position_field %>]" value="' + (position++) + '" />');
      });
    };

    dropzone.on('addedfile', func);

    for (var i = 0; i < mockFiles.length; i++) {
      var mockFile = mockFiles[i];
      dropzone.options.addedfile.call(dropzone, mockFile);
      func(mockFile);
      if (mockFile.url)
        dropzone.options.thumbnail.call(dropzone, mockFile, mockFile.url);
        $(mockFile.previewElement).attr('data-url', mockFile.url);
    }

    $('form').submit(function(e) {
      if (dropzone.getQueuedFiles().length > 0 || dropzone.getUploadingFiles().length > 0) {
        if (confirm("Некоторые файлы еще не загрузились на сервер. Вы действительно хотите сохранить без них?") == true) {
          generate_dropzone_position_elements();
        } else {
          e.preventDefault();
        }
      } else {
        generate_dropzone_position_elements();
      }
    });
  })();
</script>